div{
    margin: 10px;
    text-align: center;
    border: 10px;
    padding: 40px;
    border-style: dotted;
    background-image: url("https://img.freepik.com/foto-gratis/confeti-estrella-brillante-sobre-fondo-acuarela-pastel-abstracto-colorido_53876-98173.jpg?w=2000");
    background-position: center;
    background-origin: padding-box;
    background-repeat: no-repeat;
}
