div{
    border: 10px;
    padding: 40px;
    border-style: dotted;
    background: url("logo.png");
    background-position: center;
    background-origin: padding-box;
    background-repeat: no-repeat;
}
